<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<style>
    @page {
        margin: 0;
    }

    body {
        margin: 0;
        padding: 0;
    }

    .content {
        display: flex;
        padding-left: 50px;
        padding-right: 50px;
        padding-top: 50px;
        gap: 100px;
    }

</style>
<body style="background-color: gainsboro">
    <div class="content">
        <img src="../../../public/logo.PNG" alt="" style="width: 400px; height: auto; object-fit: cover;">
        <h1 style="font-size: 150px;">Rumah INI DiJual</h1>
    </div>

    <div>
        <img src="./profile.png" alt="" style="width: 500px;">
    </div>
</body>
</html>
